# Gemini API Credentials
GEMINI_API_KEY=

# Optional: Firebase Config credentials for custom hosting (Vercel, Netlify, etc.)
# If these environment variables are missing, the app will fallback to the local json template file.
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_FIRESTORE_DATABASE_ID=
